@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 45% 55%;
    height: 100vh;
}

.banner-container {
    background-color: darkgrey;
    display: grid;
    justify-content: center;
    align-items: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(210, 210, 210);
    width: 100%;
    padding: 1rem;
}

.main-form {
    display: flex;
    gap: 1rem;
}

.col-one, .col-two {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fields {
    display: flex;
    flex-direction: column;
}

.submit-signin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}


