* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 45% 55%;
    height: 100vh;
}

.banner-container {
    background-color: darkgrey;
    display: grid;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1.5fr 1fr 1.5fr;
    background-color: grey;
}

.main-form {
    display: flex;

}

.fields {
    display: flex;
}